{{dynamic-high-charts content=chartData chartOptions=chartOptions}}

<div class="center">
  <button {{action "updateData"}}>Change Value</button>
  <button {{action "clearData"}}>Clear Value</button>
</div>

{{outlet}}